USE [master]
GO
/****** Object:  Database [HappyBites_Q8]    Script Date: 3/27/2026 5:13:41 AM ******/
CREATE DATABASE [HappyBites_Q8]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HappyBites_Q8', FILENAME = N'D:\SQL2022\MSSQL16.HAPPYBITES_Q8\MSSQL\DATA\HappyBites_Q8.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HappyBites_Q8_log', FILENAME = N'D:\SQL2022\MSSQL16.HAPPYBITES_Q8\MSSQL\DATA\HappyBites_Q8_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HappyBites_Q8].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HappyBites_Q8]
GO
/****** Object:  Table [dbo].[CHI_NHANH]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_NHANH](
	[MaCN] [varchar](20) NOT NULL,
	[TenCN] [nvarchar](50) NOT NULL,
	[Diachi] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_DON_HANG]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DON_HANG](
	[Soluong] [int] NULL,
	[Dongia] [money] NULL,
	[MaDH] [varchar](20) NOT NULL,
	[MaSP] [varchar](20) NOT NULL,
 CONSTRAINT [PK_CHI_TIET_DON_HANG] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_NHAP]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_NHAP](
	[Soluong] [int] NULL,
	[MaNK] [varchar](20) NOT NULL,
	[Dongia] [money] NULL,
	[MaNL] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNK] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONG_THUC]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONG_THUC](
	[Soluongcan] [int] NULL,
	[MaSP] [varchar](20) NOT NULL,
	[MaNL] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_HANG]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_HANG](
	[MaDH] [varchar](20) NOT NULL,
	[Ngaylap] [datetime] NOT NULL,
	[Tongtien] [money] NULL,
	[MaNV] [varchar](20) NOT NULL,
	[MaKH] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [varchar](20) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[SDT] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_SAN_PHAM]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_SAN_PHAM](
	[MaLoai] [varchar](20) NOT NULL,
	[Tenloai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYEN_LIEU]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYEN_LIEU](
	[MaNL] [varchar](20) NOT NULL,
	[TenNL] [nvarchar](100) NULL,
	[Donvi] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MaNV] [varchar](20) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[Chucvu] [nvarchar](50) NULL,
	[Ngayvaolam] [datetime] NOT NULL,
	[MaCN] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAP_KHO]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAP_KHO](
	[MaNK] [varchar](20) NOT NULL,
	[Ngaynhap] [datetime] NOT NULL,
	[MaNV] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MaSP] [varchar](20) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[Giaban] [money] NULL,
	[Trangthai] [nvarchar](100) NULL,
	[MaLoai] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TON_KHO]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TON_KHO](
	[Soluongton] [int] NULL,
	[MaCN] [varchar](20) NOT NULL,
	[MaNL] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHI_NHANH] ([MaCN], [TenCN], [Diachi], [SDT]) VALUES (N'Q8', N'Chi nhánh Quận 8', N'789 Đường GHI, Q8, TP.HCM', N'0908000001')
GO
INSERT [dbo].[CHI_TIET_DON_HANG] ([Soluong], [Dongia], [MaDH], [MaSP]) VALUES (1, 35000.0000, N'DH01', N'SP01')
INSERT [dbo].[CHI_TIET_DON_HANG] ([Soluong], [Dongia], [MaDH], [MaSP]) VALUES (1, 15000.0000, N'DH01', N'SP07')
INSERT [dbo].[CHI_TIET_DON_HANG] ([Soluong], [Dongia], [MaDH], [MaSP]) VALUES (2, 15000.0000, N'DH02', N'SP13')
GO
INSERT [dbo].[CHI_TIET_NHAP] ([Soluong], [MaNK], [Dongia], [MaNL]) VALUES (11884, N'NK01', 5000.0000, N'NL01')
INSERT [dbo].[CHI_TIET_NHAP] ([Soluong], [MaNK], [Dongia], [MaNL]) VALUES (3545, N'NK01', 3000.0000, N'NL02')
INSERT [dbo].[CHI_TIET_NHAP] ([Soluong], [MaNK], [Dongia], [MaNL]) VALUES (1, N'NK02', 5000.0000, N'NL01')
GO
INSERT [dbo].[CONG_THUC] ([Soluongcan], [MaSP], [MaNL]) VALUES (50, N'SP01', N'NL06')
INSERT [dbo].[CONG_THUC] ([Soluongcan], [MaSP], [MaNL]) VALUES (30, N'SP01', N'NL08')
INSERT [dbo].[CONG_THUC] ([Soluongcan], [MaSP], [MaNL]) VALUES (5, N'SP01', N'NL16')
GO
INSERT [dbo].[DON_HANG] ([MaDH], [Ngaylap], [Tongtien], [MaNV], [MaKH]) VALUES (N'DH01', CAST(N'2026-03-27T03:00:38.810' AS DateTime), 50000.0000, N'NVQ8_01', N'KH01')
INSERT [dbo].[DON_HANG] ([MaDH], [Ngaylap], [Tongtien], [MaNV], [MaKH]) VALUES (N'DH02', CAST(N'2026-03-26T03:00:38.817' AS DateTime), 30000.0000, N'NVQ8_01', N'KH05')
INSERT [dbo].[DON_HANG] ([MaDH], [Ngaylap], [Tongtien], [MaNV], [MaKH]) VALUES (N'DH03', CAST(N'2026-03-27T03:00:38.817' AS DateTime), 120000.0000, N'NVQ8_04', N'KH03')
GO
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [SDT]) VALUES (N'KH01', N'Đoàn Lê Phước Thọ', N'0766656816')
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [SDT]) VALUES (N'KH02', N'Võ Thành Nghĩa', N'09300211874')
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [SDT]) VALUES (N'KH03', N'Võ Anh Kiệt', N'0900000913')
GO
INSERT [dbo].[LOAI_SAN_PHAM] ([MaLoai], [Tenloai]) VALUES (N'L01', N'Bánh ngọt')
INSERT [dbo].[LOAI_SAN_PHAM] ([MaLoai], [Tenloai]) VALUES (N'L02', N'Bánh mì')
INSERT [dbo].[LOAI_SAN_PHAM] ([MaLoai], [Tenloai]) VALUES (N'L03', N'Bánh quy')
GO
INSERT [dbo].[NGUYEN_LIEU] ([MaNL], [TenNL], [Donvi]) VALUES (N'NL01', N'Bột mì', N'gram')
INSERT [dbo].[NGUYEN_LIEU] ([MaNL], [TenNL], [Donvi]) VALUES (N'NL02', N'Đường', N'gram')
INSERT [dbo].[NGUYEN_LIEU] ([MaNL], [TenNL], [Donvi]) VALUES (N'NL03', N'Trứng', N'qu?')
GO
INSERT [dbo].[NHAN_VIEN] ([MaNV], [TenNV], [Chucvu], [Ngayvaolam], [MaCN]) VALUES (N'NVQ8_01', N'Đỗ Thái Sơn', N'Thu ngân', CAST(N'2023-01-18T00:00:00.000' AS DateTime), N'Q8')
INSERT [dbo].[NHAN_VIEN] ([MaNV], [TenNV], [Chucvu], [Ngayvaolam], [MaCN]) VALUES (N'NVQ8_02', N'Nguyễn Ngọc Mai', N'Nhân viên bán hàng', CAST(N'2023-03-22T00:00:00.000' AS DateTime), N'Q8')
INSERT [dbo].[NHAN_VIEN] ([MaNV], [TenNV], [Chucvu], [Ngayvaolam], [MaCN]) VALUES (N'NVQ8_03', N'Kiều Gia Huy', N'Nhân viên bán hàng', CAST(N'2023-04-30T00:00:00.000' AS DateTime), N'Q8')
GO
INSERT [dbo].[NHAP_KHO] ([MaNK], [Ngaynhap], [MaNV]) VALUES (N'NK01', CAST(N'2026-03-27T02:59:55.897' AS DateTime), N'NVQ8_05')
INSERT [dbo].[NHAP_KHO] ([MaNK], [Ngaynhap], [MaNV]) VALUES (N'NK02', CAST(N'2026-03-26T02:59:55.907' AS DateTime), N'NVQ8_05')
INSERT [dbo].[NHAP_KHO] ([MaNK], [Ngaynhap], [MaNV]) VALUES (N'NK03', CAST(N'2026-03-27T03:32:10.100' AS DateTime), N'NVQ8_05')
GO
INSERT [dbo].[SAN_PHAM] ([MaSP], [TenSP], [Giaban], [Trangthai], [MaLoai]) VALUES (N'SP01', N'Bánh mousse socola', 35000.0000, N'còn bán', N'L01')
INSERT [dbo].[SAN_PHAM] ([MaSP], [TenSP], [Giaban], [Trangthai], [MaLoai]) VALUES (N'SP02', N'Bánh mousse dâu', 35000.0000, N'còn bán', N'L01')
INSERT [dbo].[SAN_PHAM] ([MaSP], [TenSP], [Giaban], [Trangthai], [MaLoai]) VALUES (N'SP03', N'Bánh tiramisu', 40000.0000, N'còn bán', N'L01')
GO
INSERT [dbo].[TON_KHO] ([Soluongton], [MaCN], [MaNL]) VALUES (23983, N'Q8', N'NL01')
INSERT [dbo].[TON_KHO] ([Soluongton], [MaCN], [MaNL]) VALUES (12510, N'Q8', N'NL02')
INSERT [dbo].[TON_KHO] ([Soluongton], [MaCN], [MaNL]) VALUES (281, N'Q8', N'NL03')
GO
ALTER TABLE [dbo].[CHI_TIET_DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DH_Q6] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DON_HANG] ([MaDH])
GO
ALTER TABLE [dbo].[CHI_TIET_DON_HANG] CHECK CONSTRAINT [FK_CTDH_DH_Q6]
GO
ALTER TABLE [dbo].[CHI_TIET_DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_SP_Q6] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHI_TIET_DON_HANG] CHECK CONSTRAINT [FK_CTDH_SP_Q6]
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTN_NK_Q6] FOREIGN KEY([MaNK])
REFERENCES [dbo].[NHAP_KHO] ([MaNK])
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP] CHECK CONSTRAINT [FK_CTN_NK_Q6]
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTN_NL_Q6] FOREIGN KEY([MaNL])
REFERENCES [dbo].[NGUYEN_LIEU] ([MaNL])
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP] CHECK CONSTRAINT [FK_CTN_NL_Q6]
GO
ALTER TABLE [dbo].[CONG_THUC]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_NL_Q6] FOREIGN KEY([MaNL])
REFERENCES [dbo].[NGUYEN_LIEU] ([MaNL])
GO
ALTER TABLE [dbo].[CONG_THUC] CHECK CONSTRAINT [FK_CONGTHUC_NL_Q6]
GO
ALTER TABLE [dbo].[CONG_THUC]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_SP_Q6] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CONG_THUC] CHECK CONSTRAINT [FK_CONGTHUC_SP_Q6]
GO
ALTER TABLE [dbo].[DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_KH_Q6] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[DON_HANG] CHECK CONSTRAINT [FK_DONHANG_KH_Q6]
GO
ALTER TABLE [dbo].[DON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_NV_Q6] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DON_HANG] CHECK CONSTRAINT [FK_DONHANG_NV_Q6]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_CN_Q6] FOREIGN KEY([MaCN])
REFERENCES [dbo].[CHI_NHANH] ([MaCN])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NV_CN_Q6]
GO
ALTER TABLE [dbo].[NHAP_KHO]  WITH CHECK ADD  CONSTRAINT [FK_NHAPKHO_NV_Q6] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[NHAP_KHO] CHECK CONSTRAINT [FK_NHAPKHO_NV_Q6]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAI_Q6] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAI_SAN_PHAM] ([MaLoai])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAI_Q6]
GO
ALTER TABLE [dbo].[TON_KHO]  WITH CHECK ADD  CONSTRAINT [FK_TONKHO_CN_Q6] FOREIGN KEY([MaCN])
REFERENCES [dbo].[CHI_NHANH] ([MaCN])
GO
ALTER TABLE [dbo].[TON_KHO] CHECK CONSTRAINT [FK_TONKHO_CN_Q6]
GO
ALTER TABLE [dbo].[TON_KHO]  WITH CHECK ADD  CONSTRAINT [FK_TONKHO_NL_Q6] FOREIGN KEY([MaNL])
REFERENCES [dbo].[NGUYEN_LIEU] ([MaNL])
GO
ALTER TABLE [dbo].[TON_KHO] CHECK CONSTRAINT [FK_TONKHO_NL_Q6]
GO
/****** Object:  StoredProcedure [dbo].[BaoCaoBanHang]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BaoCaoBanHang]
AS
BEGIN
    SELECT 
        SP.MaSP,
        SP.TenSP,
        SUM(CT.Soluong) AS TongSoLuongBan,
        SUM(CT.Soluong * CT.DonGia) AS DoanhThu
    FROM CHI_TIET_DON_HANG CT
    JOIN SAN_PHAM SP ON SP.MaSP = CT.MaSP
    GROUP BY SP.MaSP, SP.TenSP
    ORDER BY DoanhThu DESC
END
GO
/****** Object:  StoredProcedure [dbo].[TaoDonHang]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[TaoDonHang]
    @MaDH VARCHAR(20),
    @MaNV VARCHAR(20),
    @MaKH VARCHAR(20)
AS
BEGIN
    INSERT INTO DON_HANG
    VALUES (@MaDH, GETDATE(), 0, @MaNV, @MaKH)
END
GO
/****** Object:  StoredProcedure [dbo].[ThemSPVaoDon]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemSPVaoDon]
    @Soluong INT,
	@MaDH VARCHAR(20),
    @MaSP VARCHAR(20)
AS
BEGIN
    -- kiểm tra đơn tồn tại
    IF NOT EXISTS (SELECT 1 FROM DON_HANG WHERE MaDH = @MaDH)
    BEGIN
        RAISERROR (N'Đơn hàng không tồn tại!', 16, 1)
        RETURN
    END

    -- kiểm tra sản phẩm tồn tại
    IF NOT EXISTS (SELECT 1 FROM SAN_PHAM WHERE MaSP = @MaSP)
    BEGIN
        RAISERROR (N'Sản phẩm không tồn tại!', 16, 1)
        RETURN
    END

    -- thêm vào chi tiết
    INSERT INTO CHI_TIET_DON_HANG (Soluong, MaDH, MaSP)
    VALUES (@Soluong, @MaDH, @MaSP)
END
GO
/****** Object:  StoredProcedure [dbo].[XemTonKho]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XemTonKho]
AS
BEGIN
    SELECT 
        TK.MaNL,
        NL.TenNL,
        TK.Soluongton
    FROM TON_KHO TK
    JOIN NGUYEN_LIEU NL ON NL.MaNL = TK.MaNL
END
GO
/****** Object:  Trigger [dbo].[TRG_SetDonGia]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_SetDonGia]
ON [dbo].[CHI_TIET_DON_HANG]
AFTER INSERT
AS
BEGIN
    UPDATE CT
    SET DonGia = SP.GiaBan
    FROM CHI_TIET_DON_HANG CT
    JOIN inserted i ON CT.MaDH = i.MaDH AND CT.MaSP = i.MaSP
    JOIN SAN_PHAM SP ON SP.MaSP = CT.MaSP
END
GO
ALTER TABLE [dbo].[CHI_TIET_DON_HANG] ENABLE TRIGGER [TRG_SetDonGia]
GO
/****** Object:  Trigger [dbo].[TRG_TinhTongTien]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_TinhTongTien]
ON [dbo].[CHI_TIET_DON_HANG]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    UPDATE DON_HANG
    SET Tongtien = (
        SELECT SUM(Soluong * Dongia)
        FROM CHI_TIET_DON_HANG CT
        WHERE CT.MaDH = DON_HANG.MaDH
    )
    WHERE MaDH IN (
        SELECT MaDH FROM inserted
        UNION
        SELECT MaDH FROM deleted
    )
END
GO
ALTER TABLE [dbo].[CHI_TIET_DON_HANG] ENABLE TRIGGER [TRG_TinhTongTien]
GO
/****** Object:  Trigger [dbo].[TRG_TruKho]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_TruKho]
ON [dbo].[CHI_TIET_DON_HANG]
AFTER INSERT
AS
BEGIN
    -- 1. CHECK tồn kho trước
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN CONG_THUC CT ON i.MaSP = CT.MaSP
        JOIN DON_HANG DH ON DH.MaDH = i.MaDH
        JOIN NHAN_VIEN NV ON NV.MaNV = DH.MaNV
        JOIN TON_KHO TK ON TK.MaNL = CT.MaNL AND TK.MaCN = NV.MaCN
        WHERE TK.Soluongton < (CT.Soluongcan * i.Soluong)
    )
    BEGIN
        RAISERROR (N'Không đủ nguyên liệu để bán!', 16, 1)
        ROLLBACK TRANSACTION
        RETURN
    END

    -- 2. TRỪ KHO
    UPDATE TK
    SET TK.Soluongton = TK.Soluongton - (CT.Soluongcan * i.Soluong)
    FROM TON_KHO TK
    JOIN CONG_THUC CT ON TK.MaNL = CT.MaNL
    JOIN inserted i ON CT.MaSP = i.MaSP
    JOIN DON_HANG DH ON DH.MaDH = i.MaDH
    JOIN NHAN_VIEN NV ON NV.MaNV = DH.MaNV
    WHERE TK.MaCN = NV.MaCN
END
GO
ALTER TABLE [dbo].[CHI_TIET_DON_HANG] ENABLE TRIGGER [TRG_TruKho]
GO
/****** Object:  Trigger [dbo].[TRG_CongKho]    Script Date: 3/27/2026 5:13:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_CongKho]
ON [dbo].[CHI_TIET_NHAP]
AFTER INSERT
AS
BEGIN
    -- 1. CẬP NHẬT nếu đã tồn tại trong kho
    UPDATE TK
    SET TK.Soluongton = TK.Soluongton + i.Soluong
    FROM TON_KHO TK
    JOIN inserted i ON TK.MaNL = i.MaNL
    JOIN NHAP_KHO NK ON NK.MaNK = i.MaNK
    JOIN NHAN_VIEN NV ON NV.MaNV = NK.MaNV
    WHERE TK.MaCN = NV.MaCN

    -- 2. THÊM MỚI nếu chưa có trong kho
    INSERT INTO TON_KHO (Soluongton, MaCN, MaNL)
    SELECT 
        i.Soluong,
        NV.MaCN,
        i.MaNL
    FROM inserted i
    JOIN NHAP_KHO NK ON NK.MaNK = i.MaNK
    JOIN NHAN_VIEN NV ON NV.MaNV = NK.MaNV
    WHERE NOT EXISTS (
        SELECT 1
        FROM TON_KHO TK
        WHERE TK.MaNL = i.MaNL 
          AND TK.MaCN = NV.MaCN
    )
END
GO
ALTER TABLE [dbo].[CHI_TIET_NHAP] ENABLE TRIGGER [TRG_CongKho]
GO
USE [master]
GO
