USE [HappyBites_Q7]
GO
/****** Object:  StoredProcedure [dbo].[BaoCaoBanHang]    Script Date: 3/28/2026 12:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BaoCaoBanHang]
AS
BEGIN
    SELECT 
        SP.MaSP,
        SP.TenSP,
        SUM(CT.Soluong) AS TongSoLuongBan,
        SUM(CT.Soluong * CT.DonGia) AS DoanhThu
    FROM CHI_TIET_DON_HANG CT
    JOIN SAN_PHAM SP ON SP.MaSP = CT.MaSP
    GROUP BY SP.MaSP, SP.TenSP
    ORDER BY DoanhThu DESC
END
GO
/****** Object:  StoredProcedure [dbo].[TaoDonHang]    Script Date: 3/28/2026 12:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[TaoDonHang]
    @MaDH VARCHAR(20),
    @MaNV VARCHAR(20),
    @MaKH VARCHAR(20)
AS
BEGIN
    INSERT INTO DON_HANG
    VALUES (@MaDH, GETDATE(), 0, @MaNV, @MaKH)
END
GO
/****** Object:  StoredProcedure [dbo].[ThemSPVaoDon]    Script Date: 3/28/2026 12:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemSPVaoDon]
    @Soluong INT,
	@MaDH VARCHAR(20),
    @MaSP VARCHAR(20)
AS
BEGIN
    -- kiểm tra đơn tồn tại
    IF NOT EXISTS (SELECT 1 FROM DON_HANG WHERE MaDH = @MaDH)
    BEGIN
        RAISERROR (N'Đơn hàng không tồn tại!', 16, 1)
        RETURN
    END

    -- kiểm tra sản phẩm tồn tại
    IF NOT EXISTS (SELECT 1 FROM SAN_PHAM WHERE MaSP = @MaSP)
    BEGIN
        RAISERROR (N'Sản phẩm không tồn tại!', 16, 1)
        RETURN
    END

    -- thêm vào chi tiết
    INSERT INTO CHI_TIET_DON_HANG (Soluong, MaDH, MaSP)
    VALUES (@Soluong, @MaDH, @MaSP)
END
GO
/****** Object:  StoredProcedure [dbo].[XemTonKho]    Script Date: 3/28/2026 12:02:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XemTonKho]
AS
BEGIN
    SELECT 
        TK.MaNL,
        NL.TenNL,
        TK.Soluongton
    FROM TON_KHO TK
    JOIN NGUYEN_LIEU NL ON NL.MaNL = TK.MaNL
END
GO
