USE [DB_MASTER]
GO
/****** Object:  Table [dbo].[CHI_NHANH]    Script Date: 3/27/2026 11:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_NHANH](
	[MaCN] [varchar](20) NOT NULL,
	[TenCN] [nvarchar](50) NOT NULL,
	[Diachi] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
 CONSTRAINT [PK_CHI_NHANH] PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONG_THUC]    Script Date: 3/27/2026 11:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONG_THUC](
	[Soluongcan] [int] NULL,
	[MaSP] [varchar](20) NOT NULL,
	[MaNL] [varchar](20) NOT NULL,
 CONSTRAINT [PK_CONG_THUC] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 3/27/2026 11:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [varchar](20) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[SDT] [varchar](15) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_SAN_PHAM]    Script Date: 3/27/2026 11:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_SAN_PHAM](
	[MaLoai] [varchar](20) NOT NULL,
	[Tenloai] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LOAI_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYEN_LIEU]    Script Date: 3/27/2026 11:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYEN_LIEU](
	[MaNL] [varchar](20) NOT NULL,
	[TenNL] [nvarchar](100) NULL,
	[Donvi] [nvarchar](20) NULL,
 CONSTRAINT [PK_NGUYEN_LIEU] PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 3/27/2026 11:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MaSP] [varchar](20) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[Giaban] [money] NULL,
	[Trangthai] [nvarchar](100) NULL,
	[MaLoai] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONG_THUC]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_NGUYENLIEU] FOREIGN KEY([MaNL])
REFERENCES [dbo].[NGUYEN_LIEU] ([MaNL])
GO
ALTER TABLE [dbo].[CONG_THUC] CHECK CONSTRAINT [FK_CONGTHUC_NGUYENLIEU]
GO
ALTER TABLE [dbo].[CONG_THUC]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CONG_THUC] CHECK CONSTRAINT [FK_CONGTHUC_SANPHAM]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISP] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAI_SAN_PHAM] ([MaLoai])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISP]
GO
